extends layout/app 
block var
    - let page_title = "Home";
block content 
    .start
        .start__container
            .start__author
                h1 Furkat Vokhidov
            .start__title
                h2= site_name
            .start__social
                a(href="#")
                    i.fa-brands.fa-telegram 
                a(href="#")
                    i.fa-brands.fa-facebook 
                a(href="#")
                    i.fa-brands.fa-github